.login-wrapper {
    min-height: 100vh;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .login-box {
    background: #1e1e1e;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
  }
  